#Ingestão Base 2

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

file_path = "/content/Base 2 - Vendas Clientes ConsigCar.xlsx"


df = pd.read_excel(file_path)

# Remove 'R$', pontos e converte a vírgula decimal para ponto
df['Valor parcela'] = df['Valor parcela'].replace({'R\$': '', '\.': '', ',': '.'}, regex=True).astype(float)

# Converte a coluna de data e remove a hora
df['Data do Pagamento'] = pd.to_datetime(df['Data do Pagamento']).dt.date

# Cria conexão com banco de dados SQLite
engine = create_engine("sqlite:///vendas_clientes_consigcar.db")

# Insere a tabela no banco
df.to_sql("vendas_clientes_consigcar", con=engine, if_exists="replace", index=False)

207

In [ ]:
df.head()

,Data do Pagamento,Tipo Produto,Nome,WhatsApp,Quantidade de vezes,Valor parcela,Vendedor,Comentarios
0,2024-11-11,Completa,Fernanda Gomes Ibrahim Campos,(11) 99123-4567,18,1834.66,Thiago,NaN
1,2024-11-22,Completa,Patrícia Zanetti Jardim Campos Souza,(21) 99234-5678,6,641.33,Thiago,NaN
2,2024-11-18,Completa,Eduardo Yamada Dias Vieira Nogueira,(43) 99345-6789,18,1879.30,Thiago,NaN
3,2024-10-22,Completa,Thiago Lopes Xavier Queiroz,(51) 99456-7890,18,1831.83,Thiago,NaN
4,2024-10-20,Completa,Vanessa Yamada Farias Krause Teixeira,(61) 99567-8901,6,645.73,Thiago,NaN

,Nome (Alucar),Data,Mes,Ano,Valor\nReceita,Unnamed: 5,Faturamento\nConsigCar,Valor
0,JANEIRO,NaN,NaN,NaN,NaN,NaN,JANEIRO,NaN
1,João Carlos Silva Pereira,2025-01-02 00:00:00,1.0,2025.0,1432.0,NaN,Pagseguro,35918.27
2,Maria Fernanda Souza Oliveira,2025-01-03 00:00:00,1.0,2025.0,4189.0,NaN,NaN,NaN
3,Marcos Vinícius Silva Costa,2025-01-06 00:00:00,1.0,2025.0,118.0,NaN,NaN,NaN
4,Ana Beatriz Almeida Lima,2025-01-07 00:00:00,1.0,2025.0,2756.0,NaN,NaN,NaN

#Ingestão Base 1

In [ ]:
#função para editar a tabela de Receita
def edit_sheet(df):
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    df.columns = df.columns.str.replace('\n', '_')
    df.columns = df.columns.str.replace(' ', '_')

    return df

In [ ]:
import requests
import pandas as pd
from io import BytesIO

#Definindo ID da planilha e url
sheet_id = '1cucnW4yVosO5n5BFgwXYv6rVy8yj6NTasM83RTCMOug'
sheet_url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=xlsx'

#Salvando arquivo em FILE
response = requests.get(sheet_url)
file = BytesIO(response.content)

#Lendo e aramazenando em um dataframe as tabelas
df_Receita = pd.read_excel(file, sheet_name='Receita', index_col=False)
df_Receita = edit_sheet(df_Receita)
df_Despesas = pd.read_excel(file, sheet_name='Despesas', index_col=False)

In [ ]:
#Inciano tratamento
#exclusão de linhas sem dados nas colunas Data e Mês
df_Receita = df_Receita.dropna(subset=["Data", "Mes"])

#Transformação da cluna data
df_Receita['Data'] = pd.to_datetime(df_Receita['Data']).dt.date

#transformação das colunas Mês e Ano para inteiro
df_Receita["Mes"] = df_Receita["Mes"].astype(int)
df_Receita["Ano"] = df_Receita["Ano"].astype(int)

#colunas = df_Receita.columns

#Separação das colunas da Alucar e Consigcar
df_Receita_Alucar = df_Receita.iloc[:, 0:5] \
                    .reset_index(drop = True)

df_Receita_ConsigCar = df_Receita.iloc[:, [1,6]] \
                        .dropna(subset=["Valor"]) \
                        .reset_index(drop = True)

#Separação do dataframe da Receita da Alucar e estimativa da Alucar
df_Receita_Alucar_estimativa = df_Receita_Alucar[df_Receita_Alucar["Nome_(Alucar)"] == 'Estimativa'] \
                                .reset_index(drop = True)

df_Receita_Alucar = df_Receita_Alucar[df_Receita_Alucar["Nome_(Alucar)"] != 'Estimativa']

<ipython-input-5-add6acc71da5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Receita['Data'] = pd.to_datetime(df_Receita['Data']).dt.date
<ipython-input-5-add6acc71da5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Receita["Mes"] = df_Receita["Mes"].astype(int)
<ipython-input-5-add6acc71da5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Receita["Ano"] = df_Receita["Ano"].astype(int)

In [ ]:
df_Receita_ConsigCar.head()

         Data     Valor
0  2025-01-02  35918.27
1  2025-02-01  51472.94
2  2025-03-01  34994.22
3  2025-04-01  48182.77

In [ ]:
df_Receita_Alucar.tail(30)

                    Nome_(Alucar)        Data  Mes   Ano  Valor_Receita
51      Thiago Lima Costa Almeida  2025-03-13    3  2025         4591.0
52       Daniela Costa de Almeida  2025-03-13    3  2025         1189.0
53    Roberta Pereira Lima Santos  2025-03-18    3  2025         2721.0
54         Maurício de Souza Lima  2025-03-19    3  2025         4469.0
55       Maria Clara Pereira Lima  2025-03-20    3  2025          939.0
56    Lucas Matheus Costa Pereira  2025-03-20    3  2025         2139.0
57     Rosa Costa de Lima Pereira  2025-03-21    3  2025         3629.0
58     Paulo Ricardo Almeida Lima  2025-03-29    3  2025          489.0
59           Sofia Gomes da Silva  2025-03-31    3  2025         1581.0
60       Eduardo Lima Souza Costa  2025-03-31    3  2025         4221.0
61           Lúcia Alves de Souza  2025-03-31    3  2025         2991.0
62  Cíntia da Silva Costa Pereira  2025-04-01    4  2025         1741.0
63      Cristina Martins Oliveira  2025-04-01    4  2025         3919.0
64   Robson Costa de Almeida Lima  2025-04-01    4  2025          659.0
65      Raquel Costa Lima Pereira  2025-04-05    4  2025         2361.0
66       Isabela Ribeiro da Silva  2025-04-10    4  2025          482.0
67      Priscila Almeida da Silva  2025-04-10    4  2025         1275.0
68    Alberto Costa Lima Oliveira  2025-04-15    4  2025         3501.0
69  Marcos Vinícius de Souza Lima  2025-04-16    4  2025         1985.0
70      Lucas Alves de Lima Souza  2025-04-16    4  2025         4681.0
71      Amanda Ribeiro Costa Lima  2025-04-17    4  2025          833.0
72         Jessica da Silva Costa  2025-04-17    4  2025         2925.0
73       Mário Antônio Lima Costa  2025-04-18    4  2025         1431.0
74  Silvia Martins Oliveira Souza  2025-04-18    4  2025         3861.0
75     Felipe Costa de Lima Souza  2025-04-18    4  2025         1941.0
76        Gisele Almeida da Silva  2025-04-22    4  2025         4595.0
77       José Carlos Pereira Lima  2025-04-22    4  2025         1191.0
78       Renata Gomes Costa Souza  2025-04-25    4  2025         2725.0
79  Rodrigo Ribeiro Silva Almeida  2025-04-25    4  2025         4471.0
80      Marcos Ribeiro Souza Lima  2025-05-01    5  2025         2654.0

In [ ]:
df_Receita_Alucar_estimativa.head()

  Nome_(Alucar)        Data  Mes   Ano  Valor_Receita
0    Estimativa  2025-06-01    6  2025        36000.0
1    Estimativa  2025-07-01    7  2025        36000.0
2    Estimativa  2025-08-01    8  2025        36000.0
3    Estimativa  2025-09-01    9  2025        36000.0
4    Estimativa  2025-10-01   10  2025        36000.0

#Ingestão da planilha despesas

In [ ]:
#Excluindo colunas desnecessárias
df_Despesas.columns = df_Despesas.iloc[0]
df_Despesas = df_Despesas[1:]
df_Despesas.reset_index(drop = True, inplace = True)

df_Despesas.head(30)

,DESPESAS,janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro
0,Lucas Pereira Costa,7325,5528,2358,6523.35,6225.78,6552,4323,4635.26,3368.22,7856.25,7752,5823
1,Mariana Oliveira Souza,1892.41,1892.41,2586,2789.12,2789.12,2789.12,2878.36,2789.12,2789.12,1892.41,2789.12,2789.12
2,João Henrique Lima,2600.22,3700.22,2265.36,2600.35,3369.22,4521,6632,3587,5832.33,3259.33,7823.33,4369.22
3,Ana Paula Santos,1756.23,1756.23,1756.23,2456.78,2456.78,2456.78,1756.23,2456.78,2456.78,1756.23,2456.78,2456.78
4,Aluguel de escritório,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800
5,Rafael Martins Silva,1421.67,1421.67,1421.67,2987.65,2987.65,2987.65,2992.35,2987.65,2987.65,2997,2987.65,2987.65
6,Contas de energia elétrica,2089.34,2089.34,2089.34,1654.32,1654.32,1654.32,2089.34,1654.32,1654.32,2089.34,1654.32,1654.32
7,Contas de água e esgoto,225.25,452,318.92,278.98,235,275,325,222,412,318.92,321.96,278.98
8,Impostos e taxas,1956.11,1956.11,1956.11,3121.45,3121.45,3121.45,1956.11,3121.45,3121.45,1956.11,3121.45,3121.45
9,Despesas com matéria-prima,628.75,628.75,628.75,2345.67,2345.67,2345.67,628.75,2345.67,2345.67,628.75,2345.67,2345.67
10,Despesas de transporte e logística,1843.28,1843.28,1843.28,1890.23,1890.23,1890.23,1843.28,1890.23,1890.23,1843.28,1890.23,1890.23
11,Manutenção de equipamentos,270.98,270.98,270.98,2678.91,2678.91,2678.91,270.98,2678.91,2678.91,270.98,2678.91,2678.91
12,Despesas com marketing e publicidade,1532.56,1532.56,1532.56,2543.12,2543.12,2543.12,1532.56,2543.12,2543.12,1532.56,2543.12,2543.12
13,Despesas com consultorias e assessorias,2017.89,2017.89,2017.89,3298.76,3298.76,3298.76,2017.89,3298.76,3298.76,2017.89,3298.76,3298.76
14,"Seguros (patrimonial, de saúde, etc.)",349.21,349.21,349.21,2211.89,2211.89,2211.89,349.21,2211.89,2211.89,349.21,2211.89,2211.89
15,Inteligência Artificial,1789.43,1789.43,1789.43,3087.54,3087.54,3087.54,1789.43,3087.54,3087.54,1789.43,3087.54,3087.54
16,CRM,623.19,623.19,623.19,623.19,623.19,623.19,623.19,623.19,623.19,623.19,623.19,623.19
17,Despesas com softwares e licenças,1921.67,1921.67,1921.67,2456.34,2456.34,2456.34,1921.67,2456.34,2456.34,1921.67,2456.34,2456.34
18,Mecanicos,417.82,417.82,417.82,2789.01,2789.01,2789.01,417.82,2789.01,2789.01,417.82,2789.01,2789.01
19,Treinamento,2056.34,2056.34,2056.34,3165.78,3165.78,3165.78,2056.34,3165.78,3165.78,2056.34,3165.78,3165.78
20,Despesas com viagens e deslocamentos,1359.28,1359.28,1359.28,2287.43,2287.43,2287.43,1359.28,2287.43,2287.43,1359.28,2287.43,2287.43
21,Despesas com telefonia móvel e fixa,189.92,189.92,189.92,189.92,199.35,199.35,199.35,199.35,199.35,199.35,199.35,199.35
22,TOTAL,36066.55,35596.3,31551.95,53779.79,54216.54,55734.54,39762.14,52830.8,53999.09,38935.34,60283.83,54857.74
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,CONSIGCAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,DESPESAS,janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro
26,Ricardo Augusto da Silva Pereira,3482.76,3482.76,3482.76,3482.76,3482.76,7225,8362,1100.22,3482.76,2752,3482.76,7528.25
27,Juliana Costa Almeida Lima,6215.43,7523.66,6215.43,6215.43,6000,6215.43,6215.43,6215.43,6215.43,6215.43,6215.43,6215.43
28,Gabriel Henrique Oliveira Souza,4823.36,1973.5,6324.25,2552.35,4552.23,1973.5,7526,5600.23,1232.55,1973.5,1973.5,3950
29,Larissa Beatriz Santos Ribeiro,4890.22,4890.22,4890.22,4890.22,4890.22,4890.22,4890.22,4890.22,2784.98,4890.22,4890.22,6325.36

In [ ]:
#Separando Despesas da Alucar e ConsigCar

# Encontrar o índice da linha que contém TOTAL na coluna Despesa
index_total = df_Despesas[df_Despesas['DESPESAS'].str.contains("TOTAL", na=False)].index.min()

# Selecionar todas as linhas até a linha anterior à que contém TOTAL
df_Despesas_Alucar = df_Despesas.iloc[:index_total].copy()
df_Despesas_Alucar = df_Despesas_Alucar.reset_index(drop = True) \
                                       .melt(id_vars=["DESPESAS"], var_name="Mês", value_name="Valor")

# Selecionar as linhas referentes a ConsigCar
df_Despesas_ConsigCar = df_Despesas.iloc[index_total+4:-1] \
                        .copy().reset_index(drop = True) \
                        .melt(id_vars=["DESPESAS"], var_name="Mês", value_name="Valor")

In [ ]:
df_Despesas_ConsigCar.head(30)

                            DESPESAS        Mês    Valor
0   Ricardo Augusto da Silva Pereira    janeiro  3482.76
1         Juliana Costa Almeida Lima    janeiro  6215.43
2    Gabriel Henrique Oliveira Souza    janeiro  4823.36
3     Larissa Beatriz Santos Ribeiro    janeiro  4890.22
4          Felipe Augusto Souza Lima    janeiro   2658.9
5       Mariana Oliveira Costa Silva    janeiro  9732.25
6        Carlos Eduardo Pereira Lima    janeiro  1847.35
7                            Trafego    janeiro  3482.76
8                         Google Ads    janeiro  6215.43
9                           Meta Ads    janeiro   1973.5
10                      LinkedIn Ads    janeiro  4890.22
11                               CRM    janeiro   2658.9
12                       Landin page    janeiro   5340.1
13  Ricardo Augusto da Silva Pereira  fevereiro  3482.76
14        Juliana Costa Almeida Lima  fevereiro  7523.66
15   Gabriel Henrique Oliveira Souza  fevereiro   1973.5
16    Larissa Beatriz Santos Ribeiro  fevereiro  4890.22
17         Felipe Augusto Souza Lima  fevereiro   2658.9
18      Mariana Oliveira Costa Silva  fevereiro   5340.1
19       Carlos Eduardo Pereira Lima  fevereiro  1847.35
20                           Trafego  fevereiro  3482.76
21                        Google Ads  fevereiro  6215.43
22                          Meta Ads  fevereiro   1973.5
23                      LinkedIn Ads  fevereiro  4890.22
24                               CRM  fevereiro   2658.9
25                       Landin page  fevereiro   5340.1
26  Ricardo Augusto da Silva Pereira      março  3482.76
27        Juliana Costa Almeida Lima      março  6215.43
28   Gabriel Henrique Oliveira Souza      março  6324.25
29    Larissa Beatriz Santos Ribeiro      março  4890.22

In [ ]:
df_Despesas_Alucar.head(35)

                                   DESPESAS        Mês    Valor
0                       Lucas Pereira Costa    janeiro     7325
1                    Mariana Oliveira Souza    janeiro  1892.41
2                        João Henrique Lima    janeiro  2600.22
3                          Ana Paula Santos    janeiro  1756.23
4                     Aluguel de escritório    janeiro     1800
5                      Rafael Martins Silva    janeiro  1421.67
6                Contas de energia elétrica    janeiro  2089.34
7                   Contas de água e esgoto    janeiro   225.25
8                          Impostos e taxas    janeiro  1956.11
9                Despesas com matéria-prima    janeiro   628.75
10       Despesas de transporte e logística    janeiro  1843.28
11               Manutenção de equipamentos    janeiro   270.98
12     Despesas com marketing e publicidade    janeiro  1532.56
13  Despesas com consultorias e assessorias    janeiro  2017.89
14    Seguros (patrimonial, de saúde, etc.)    janeiro   349.21
15                  Inteligência Artificial    janeiro  1789.43
16                                      CRM    janeiro   623.19
17        Despesas com softwares e licenças    janeiro  1921.67
18                                Mecanicos    janeiro   417.82
19                              Treinamento    janeiro  2056.34
20     Despesas com viagens e deslocamentos    janeiro  1359.28
21      Despesas com telefonia móvel e fixa    janeiro   189.92
22                      Lucas Pereira Costa  fevereiro     5528
23                   Mariana Oliveira Souza  fevereiro  1892.41
24                       João Henrique Lima  fevereiro  3700.22
25                         Ana Paula Santos  fevereiro  1756.23
26                    Aluguel de escritório  fevereiro     1800
27                     Rafael Martins Silva  fevereiro  1421.67
28               Contas de energia elétrica  fevereiro  2089.34
29                  Contas de água e esgoto  fevereiro      452
30                         Impostos e taxas  fevereiro  1956.11
31               Despesas com matéria-prima  fevereiro   628.75
32       Despesas de transporte e logística  fevereiro  1843.28
33               Manutenção de equipamentos  fevereiro   270.98
34     Despesas com marketing e publicidade  fevereiro  1532.56