In [2]:
# Bibliotecas
import pandas as pd
from sqlalchemy import create_engine, inspect, text, DDL

In [3]:
# Conexão com o banco de dados
db_path_silver = "../database/silver/01_silver.db"
engine = create_engine(f"sqlite:///{db_path_silver}")

In [4]:
# 1) Verificação dim_cliente
query_s1 = """
SELECT * FROM dim_cliente 
LIMIT 10;
"""
df_s1 = pd.read_sql(query_s1, engine)
print("dim_cliente:")
print(df_s1)

# 1.2) Verificação dos tipos de dados dim_cliente
print("\nTipos de dados dim_cliente:")
for col in df_s1.columns:
    print(f"{col}: {df_s1[col].dtype}")

dim_cliente:
   id_cliente                                       nome_cliente  \
0           0                      Fernanda Gomes Ibrahim Campos
1           1               Patrícia Zanetti Jardim Campos Souza
2           2                Eduardo Yamada Dias Vieira Nogueira
3           3                        Thiago Lopes Xavier Queiroz
4           4              Vanessa Yamada Farias Krause Teixeira
5           5       Natália Oliveira Vieira Lopes Nogueira Costa
6           6  Patrícia Machado Teixeira Zanetti Ibrahim Queiroz
7           7       Kleber Nogueira Costa Teixeira Silva Esteves
8           8           Helena Oliveira Nogueira Esteves Zanetti
9           9             Fernanda Rodrigues Costa Uchoa Almeida

          whatsapp    empresa
0  (11) 99123-4567  Consigcar
1  (21) 99234-5678  Consigcar
2  (43) 99345-6789  Consigcar
3  (51) 99456-7890  Consigcar
4  (61) 99567-8901  Consigcar
5  (71) 99678-9012  Consigcar
6  (81) 99789-0123  Consigcar
7  (91) 99890-1234  Consigcar
8  (11) 99111-2222  Consigcar
9  (21) 99222-3333  Consigcar

Tipos de dados dim_cliente:
id_cliente: int64
nome_cliente: object
whatsapp: object
empresa: object

In [ ]:
# 2) Verificação fato_faturamento_pagseguro
query_s2 = """
SELECT * FROM fato_faturamento_pagseguro
LIMIT 12;
"""
df_s2 = pd.read_sql(query_s2, engine)
print("\nfato_faturamento_pagseguro:")
print(df_s2)

# 2.1) Verificação dos tipos de dados fato_faturamento_pagseguro
print("\nTipos de dados fato_faturamento_pagseguro:")
for col in df_s2.columns:
    print(f"{col}: {df_s2[col].dtype}")

In [ ]:
# 3) Verificação dim_tempo
query_s3 = """
SELECT * FROM dim_tempo
LIMIT 10;
"""
df_s3 = pd.read_sql(query_s3, engine)
print("\ndim_tempo:")
print(df_s3)

In [ ]:
# 3.2) Verificação linhas do trimestre 2
query_s3_2 = """
SELECT * FROM dim_tempo 
WHERE trimestre = 2
LIMIT 10;
"""
df_s3_2 = pd.read_sql(query_s3_2, engine)
print("\ndim_tempo (trimestre 2):")
print(df_s3_2)

In [ ]:
# 3.3) Verificação linhas do trimestre 3
query_s3_3 = """
SELECT * FROM dim_tempo 
WHERE trimestre = 3
LIMIT 10;
"""
df_s3_3 = pd.read_sql(query_s3_3, engine)
print("\ndim_tempo (trimestre 3):")
print(df_s3_3)

In [ ]:

# 3.4) Verificação linhas de agosto
query_s3_4 = """
SELECT * FROM dim_tempo 
WHERE nome_mes = 'agosto'
LIMIT 10;
"""
df_s3_4 = pd.read_sql(query_s3_4, engine)
print("\ndim_tempo (agosto):")
print(df_s3_4)

In [ ]:
# 4) Verificação dim_vendedor
query_s4 = """
SELECT * FROM dim_vendedor
LIMIT 10;
"""
df_s4 = pd.read_sql(query_s4, engine)
print("\ndim_vendedor:")
print(df_s4)

In [24]:
# 5) Verificação fato_despesas
query_s5 = """
SELECT * FROM fato_despesas;
"""
df_s5 = pd.read_sql(query_s5, engine)
print("\nfato_despesas:")
print(df_s5)

fato_despesas:
     id_despesa     origem categoria            nome_despesa    valor  \
0             0     Alucar        NA     Lucas Pereira Costa  7325.00
1             1     Alucar        NA  Mariana Oliveira Souza  1892.41
2             2     Alucar        NA      João Henrique Lima  2600.22
3             3     Alucar        NA        Ana Paula Santos  1756.23
4             4     Alucar        NA   Aluguel de escritório  1800.00
..          ...        ...       ...                     ...      ...
415         415  Consigcar        NA              Google Ads  6215.43
416         416  Consigcar        NA                Meta Ads  1973.50
417         417  Consigcar        NA            LinkedIn Ads  4890.22
418         418  Consigcar        NA                     CRM  2658.90
419         419  Consigcar        NA             Landin page  5340.10

      id_data
0    20250101
1    20250101
2    20250101
3    20250101
4    20250101
..        ...
415  20251201
416  20251201
417  20251201
418  20251201
419  20251201

[420 rows x 6 columns]

In [ ]:
# 6) Verificação fato_vendas_alucar
query_s6 = """
SELECT * FROM fato_vendas_alucar
LIMIT 22;
"""
df_s6 = pd.read_sql(query_s6, engine)
print("\nfato_vendas_alucar:")
print(df_s6)

In [ ]:
# 7) Verificação fato_vendas_consigcar
query_s7 = """
SELECT * FROM fato_vendas_consigcar
LIMIT 10;
"""
df_s7 = pd.read_sql(query_s7, engine)
print("\nfato_vendas_consigcar:")
print(df_s7)

In [ ]:
# 9) Verificação fato_vendas_diarias_vendedor
query_s9 = """
SELECT f.*, v.nome_vendedor, t.mes, t.nome_mes
FROM fato_vendas_diaria_vendedor f
JOIN dim_vendedor v ON f.id_vendedor = v.id_vendedor
JOIN dim_tempo t ON f.id_data = t.id_data
LIMIT 10;
"""
df_s9 = pd.read_sql(query_s9, engine)
print("\nfato_vendas_diaria_vendedor:")
print(df_s9)

In [ ]:
# 10) Verificação dim_pagamentos_programados
query_s10 = """
SELECT * FROM dim_pagamentos_programados
LIMIT 25;
"""
df_s10 = pd.read_sql(query_s10, engine)
print("\ndim_pagamentos_programados:")
print(df_s10.head(25))