In [2]:
# Bibliotecas
import pandas as pd
from sqlalchemy import create_engine, inspect, text, DDL

In [3]:
# Conexão com o banco de dados
db_path_silver = "../database/silver/01_silver.db"
engine = create_engine(f"sqlite:///{db_path_silver}")

In [4]:
# 1) Verificação dim_cliente
query_s1 = """
SELECT * FROM dim_cliente 
LIMIT 10;
"""
df_s1 = pd.read_sql(query_s1, engine)
print("dim_cliente:")
print(df_s1)

# 1.2) Verificação dos tipos de dados dim_cliente
print("\nTipos de dados dim_cliente:")
for col in df_s1.columns:
    print(f"{col}: {df_s1[col].dtype}")

dim_cliente:
   id_cliente                                       nome_cliente  \
0           0                      Fernanda Gomes Ibrahim Campos
1           1               Patrícia Zanetti Jardim Campos Souza
2           2                Eduardo Yamada Dias Vieira Nogueira
3           3                        Thiago Lopes Xavier Queiroz
4           4              Vanessa Yamada Farias Krause Teixeira
5           5       Natália Oliveira Vieira Lopes Nogueira Costa
6           6  Patrícia Machado Teixeira Zanetti Ibrahim Queiroz
7           7       Kleber Nogueira Costa Teixeira Silva Esteves
8           8           Helena Oliveira Nogueira Esteves Zanetti
9           9             Fernanda Rodrigues Costa Uchoa Almeida

          whatsapp    empresa
0  (11) 99123-4567  Consigcar
1  (21) 99234-5678  Consigcar
2  (43) 99345-6789  Consigcar
3  (51) 99456-7890  Consigcar
4  (61) 99567-8901  Consigcar
5  (71) 99678-9012  Consigcar
6  (81) 99789-0123  Consigcar
7  (91) 99890-1234  Consigcar
8  (11) 99111-2222  Consigcar
9  (21) 99222-3333  Consigcar

Tipos de dados dim_cliente:
id_cliente: int64
nome_cliente: object
whatsapp: object
empresa: object

In [5]:
# 2) Verificação fato_faturamento_pagseguro
query_s2 = """
SELECT * FROM fato_faturamento_pagseguro
LIMIT 12;
"""
df_s2 = pd.read_sql(query_s2, engine)
print("\nfato_faturamento_pagseguro:")
print(df_s2)

# 2.1) Verificação dos tipos de dados fato_faturamento_pagseguro
print("\nTipos de dados fato_faturamento_pagseguro:")
for col in df_s2.columns:
    print(f"{col}: {df_s2[col].dtype}")

fato_faturamento_pagseguro:
   id_faturamento   id_data  valor_faturado
0               0  20250101        35918.27
1               1  20250201        51472.94
2               2  20250301        34994.22
3               3  20250401        48182.77
4               4  20250501        41348.00

Tipos de dados fato_faturamento_pagseguro:
id_faturamento: int64
id_data: int64
valor_faturado: float64

In [6]:
# 3) Verificação dim_tempo
query_s3 = """
SELECT * FROM dim_tempo
LIMIT 10;
"""
df_s3 = pd.read_sql(query_s3, engine)
print("\ndim_tempo:")
print(df_s3)

dim_tempo:
    id_data                        data  dia  mes   ano nome_mes  \
0  20180101  2018-01-01 00:00:00.000000    1    1  2018  janeiro
1  20180102  2018-01-02 00:00:00.000000    2    1  2018  janeiro
2  20180103  2018-01-03 00:00:00.000000    3    1  2018  janeiro
3  20180104  2018-01-04 00:00:00.000000    4    1  2018  janeiro
4  20180105  2018-01-05 00:00:00.000000    5    1  2018  janeiro
5  20180106  2018-01-06 00:00:00.000000    6    1  2018  janeiro
6  20180107  2018-01-07 00:00:00.000000    7    1  2018  janeiro
7  20180108  2018-01-08 00:00:00.000000    8    1  2018  janeiro
8  20180109  2018-01-09 00:00:00.000000    9    1  2018  janeiro
9  20180110  2018-01-10 00:00:00.000000   10    1  2018  janeiro

   dia_da_semana  trimestre
0  Segunda-feira          1
1    Terça-feira          1
2   Quarta-feira          1
3   Quinta-feira          1
4    Sexta-feira          1
5         Sábado          1
6        Domingo          1
7  Segunda-feira          1
8    Terça-feira          1
9   Quarta-feira          1

In [7]:
# 3.2) Verificação linhas do trimestre 2
query_s3_2 = """
SELECT * FROM dim_tempo 
WHERE trimestre = 2
LIMIT 10;
"""
df_s3_2 = pd.read_sql(query_s3_2, engine)
print("\ndim_tempo (trimestre 2):")
print(df_s3_2)

dim_tempo (trimestre 2):
    id_data                        data  dia  mes   ano nome_mes  \
0  20180401  2018-04-01 00:00:00.000000    1    4  2018    abril
1  20180402  2018-04-02 00:00:00.000000    2    4  2018    abril
2  20180403  2018-04-03 00:00:00.000000    3    4  2018    abril
3  20180404  2018-04-04 00:00:00.000000    4    4  2018    abril
4  20180405  2018-04-05 00:00:00.000000    5    4  2018    abril
5  20180406  2018-04-06 00:00:00.000000    6    4  2018    abril
6  20180407  2018-04-07 00:00:00.000000    7    4  2018    abril
7  20180408  2018-04-08 00:00:00.000000    8    4  2018    abril
8  20180409  2018-04-09 00:00:00.000000    9    4  2018    abril
9  20180410  2018-04-10 00:00:00.000000   10    4  2018    abril

   dia_da_semana  trimestre
0        Domingo          2
1  Segunda-feira          2
2    Terça-feira          2
3   Quarta-feira          2
4   Quinta-feira          2
5    Sexta-feira          2
6         Sábado          2
7        Domingo          2
8  Segunda-feira          2
9    Terça-feira          2

In [8]:
# 3.3) Verificação linhas do trimestre 3
query_s3_3 = """
SELECT * FROM dim_tempo 
WHERE trimestre = 3
LIMIT 10;
"""
df_s3_3 = pd.read_sql(query_s3_3, engine)
print("\ndim_tempo (trimestre 3):")
print(df_s3_3)

dim_tempo (trimestre 3):
    id_data                        data  dia  mes   ano nome_mes  \
0  20180701  2018-07-01 00:00:00.000000    1    7  2018    julho
1  20180702  2018-07-02 00:00:00.000000    2    7  2018    julho
2  20180703  2018-07-03 00:00:00.000000    3    7  2018    julho
3  20180704  2018-07-04 00:00:00.000000    4    7  2018    julho
4  20180705  2018-07-05 00:00:00.000000    5    7  2018    julho
5  20180706  2018-07-06 00:00:00.000000    6    7  2018    julho
6  20180707  2018-07-07 00:00:00.000000    7    7  2018    julho
7  20180708  2018-07-08 00:00:00.000000    8    7  2018    julho
8  20180709  2018-07-09 00:00:00.000000    9    7  2018    julho
9  20180710  2018-07-10 00:00:00.000000   10    7  2018    julho

   dia_da_semana  trimestre
0        Domingo          3
1  Segunda-feira          3
2    Terça-feira          3
3   Quarta-feira          3
4   Quinta-feira          3
5    Sexta-feira          3
6         Sábado          3
7        Domingo          3
8  Segunda-feira          3
9    Terça-feira          3

In [9]:

# 3.4) Verificação linhas de agosto
query_s3_4 = """
SELECT * FROM dim_tempo 
WHERE nome_mes = 'agosto'
LIMIT 10;
"""
df_s3_4 = pd.read_sql(query_s3_4, engine)
print("\ndim_tempo (agosto):")
print(df_s3_4)

dim_tempo (agosto):
    id_data                        data  dia  mes   ano nome_mes  \
0  20180801  2018-08-01 00:00:00.000000    1    8  2018   agosto
1  20180802  2018-08-02 00:00:00.000000    2    8  2018   agosto
2  20180803  2018-08-03 00:00:00.000000    3    8  2018   agosto
3  20180804  2018-08-04 00:00:00.000000    4    8  2018   agosto
4  20180805  2018-08-05 00:00:00.000000    5    8  2018   agosto
5  20180806  2018-08-06 00:00:00.000000    6    8  2018   agosto
6  20180807  2018-08-07 00:00:00.000000    7    8  2018   agosto
7  20180808  2018-08-08 00:00:00.000000    8    8  2018   agosto
8  20180809  2018-08-09 00:00:00.000000    9    8  2018   agosto
9  20180810  2018-08-10 00:00:00.000000   10    8  2018   agosto

   dia_da_semana  trimestre
0   Quarta-feira          3
1   Quinta-feira          3
2    Sexta-feira          3
3         Sábado          3
4        Domingo          3
5  Segunda-feira          3
6    Terça-feira          3
7   Quarta-feira          3
8   Quinta-feira          3
9    Sexta-feira          3

In [10]:
# 4) Verificação dim_vendedor
query_s4 = """
SELECT * FROM dim_vendedor
LIMIT 10;
"""
df_s4 = pd.read_sql(query_s4, engine)
print("\ndim_vendedor:")
print(df_s4)

dim_vendedor:
   id_vendedor nome_vendedor
0            0        Thiago
1            1      Fernanda
2            2       Gustavo
3            3        Rafael
4            4       Leticia
5            5       Marcelo
6            6       Rodrigo

In [11]:
# 5) Verificação fato_despesas
query_s5 = """
SELECT * FROM fato_despesas;
"""
df_s5 = pd.read_sql(query_s5, engine)
print("\nfato_despesas:")
print(df_s5)

fato_despesas:
     id_despesa     origem categoria            nome_despesa    valor  \
0             0     Alucar        NA     Lucas Pereira Costa  7325.00
1             1     Alucar        NA  Mariana Oliveira Souza  1892.41
2             2     Alucar        NA      João Henrique Lima  2600.22
3             3     Alucar        NA        Ana Paula Santos  1756.23
4             4     Alucar        NA   Aluguel de escritório  1800.00
..          ...        ...       ...                     ...      ...
415         415  Consigcar        NA              Google Ads  6215.43
416         416  Consigcar        NA                Meta Ads  1973.50
417         417  Consigcar        NA            LinkedIn Ads  4890.22
418         418  Consigcar        NA                     CRM  2658.90
419         419  Consigcar        NA             Landin page  5340.10

      id_data
0    20250101
1    20250101
2    20250101
3    20250101
4    20250101
..        ...
415  20251201
416  20251201
417  20251201
418  20251201
419  20251201

[420 rows x 6 columns]

In [12]:
# 6) Verificação fato_vendas_alucar
query_s6 = """
SELECT * FROM fato_vendas_alucar
LIMIT 22;
"""
df_s6 = pd.read_sql(query_s6, engine)
print("\nfato_vendas_alucar:")
print(df_s6)

fato_vendas_alucar:
    id_venda_alucar  id_cliente   id_data  valor_venda
0                 1         207  20250102       1432.0
1                 2         208  20250103       4189.0
2                 3         209  20250106        118.0
3                 4         210  20250107       2756.0
4                 5         211  20250109       4631.0
5                 6         212  20250110        982.0
6                 7         213  20250113       1911.0
7                 8         214  20250114       3678.0
8                 9         215  20250116       2198.0
9                10         216  20250120        149.0
10               11         217  20250121       4211.0
11               12         218  20250125       2891.0
12               13         219  20250127       1734.0
13               14         220  20250127       3982.0
14               15         221  20250127        654.0
15               16         222  20250131       2357.0
16               17         223  20250131       4819.0
17               18         224  20250131       1278.0
18               19         225  20250131       3491.0
19               20         226  20250131       1987.0
20               21         227  20250131       4673.0
21               22         228  20250201        823.0

In [13]:
# 7) Verificação fato_vendas_consigcar
query_s7 = """
SELECT * FROM fato_vendas_consigcar
LIMIT 10;
"""
df_s7 = pd.read_sql(query_s7, engine)
print("\nfato_vendas_consigcar:")
print(df_s7)

# Verificação formatos das colunas
# Formato mais elegante para verificar tipos de colunas
tables = {
    "dim_vendedor": df_s4,
    "fato_despesas": df_s5, 
    "fato_vendas_alucar": df_s6,
    "fato_vendas_consigcar": df_s7
}

print("\nFormatos das colunas:")
for name, df in tables.items():
    print(f"\n{name}:")
    print(df.dtypes)

fato_vendas_consigcar:
   id_venda_consigcar  id_cliente tipo_produto  id_vendedor  num_parcelas  \
0                   1           0     Completa            0            18
1                   2           1     Completa            0             6
2                   3           2     Completa            0            18
3                   4           3     Completa            0            18
4                   5           4     Completa            0             6
5                   6           5     Completa            0             6
6                   7           6     Completa            1            12
7                   8           7     Completa            0            18
8                   9           8     Completa            1             6
9                  10           9     Completa            1             6

   valor_parcela  valor_total  data_primeira_parcela  data_ultima_parcela
0        1834.66     33023.88               20241111             20260411
1         641.33      3847.98               20241122             20250422
2        1879.30     33827.40               20241118             20260418
3        1831.83     32972.94               20241022             20260322
4         645.73      3874.38               20241020             20250320
5         638.48      3830.88               20241101             20250401
6        1239.66     14875.92               20241001             20250901
7        1834.00     33012.00               20241007             20260307
8         648.10      3888.60               20241106             20250406
9         625.15      3750.90               20241109             20250409

Formatos das colunas:

dim_vendedor:
id_vendedor       int64
nome_vendedor    object
dtype: object

fato_despesas:
id_despesa        int64
origem           object
categoria        object
nome_despesa     object
valor           float64
id_data           int64
dtype: object

fato_vendas_alucar:
id_venda_alucar      int64
id_cliente           int64
id_data              int64
valor_venda        float64
dtype: object

fato_vendas_consigcar:
id_venda_consigcar         int64
id_cliente                 int64
tipo_produto              object
id_vendedor                int64
num_parcelas               int64
valor_parcela            float64
valor_total              float64
data_primeira_parcela      int64
data_ultima_parcela        int64
dtype: object

In [14]:
# 9) Verificação fato_vendas_diarias_vendedor
query_s9 = """
SELECT f.*, v.nome_vendedor, t.mes, t.nome_mes
FROM fato_vendas_diaria_vendedor f
JOIN dim_vendedor v ON f.id_vendedor = v.id_vendedor
JOIN dim_tempo t ON f.id_data = t.id_data
LIMIT 10;
"""
df_s9 = pd.read_sql(query_s9, engine)
print("\nfato_vendas_diaria_vendedor:")
print(df_s9)

fato_vendas_diaria_vendedor:
   id_vendedor   id_data  total_vendas  valor_total nome_vendedor  mes  \
0            0  20241007             1     33012.00        Thiago   10
1            0  20241020             1      3874.38        Thiago   10
2            0  20241022             1     32972.94        Thiago   10
3            0  20241101             1      3830.88        Thiago   11
4            0  20241111             1     33023.88        Thiago   11
5            0  20241118             1     33827.40        Thiago   11
6            0  20241122             2     18671.58        Thiago   11
7            0  20241206             1     14894.40        Thiago   12
8            0  20250114             1     14857.08        Thiago    1
9            0  20250115             1     15342.00        Thiago    1

   nome_mes
0   outubro
1   outubro
2   outubro
3  novembro
4  novembro
5  novembro
6  novembro
7  dezembro
8   janeiro
9   janeiro

In [15]:
# 10) Verificação dim_pagamentos_programados
query_s10 = """
SELECT * FROM dim_pagamentos_programados
LIMIT 25;
"""
df_s10 = pd.read_sql(query_s10, engine)
print("\ndim_pagamentos_programados:")
print(df_s10.head(25))

dim_pagamentos_programados:
    id_venda_consigcar    valor   id_data
0                    1  1834.66  20241111
1                    1  1834.66  20241211
2                    1  1834.66  20250111
3                    1  1834.66  20250211
4                    1  1834.66  20250311
5                    1  1834.66  20250411
6                    1  1834.66  20250511
7                    1  1834.66  20250611
8                    1  1834.66  20250711
9                    1  1834.66  20250811
10                   1  1834.66  20250911
11                   1  1834.66  20251011
12                   1  1834.66  20251111
13                   1  1834.66  20251211
14                   1  1834.66  20260111
15                   1  1834.66  20260211
16                   1  1834.66  20260311
17                   1  1834.66  20260411
18                   2   641.33  20241122
19                   2   641.33  20241222
20                   2   641.33  20250122
21                   2   641.33  20250222
22                   2   641.33  20250322
23                   2   641.33  20250422
24                   3  1879.30  20241118