In [1]:
# Bibliotecas
import pandas as pd
from sqlalchemy import create_engine, inspect, text
from datetime import datetime

In [2]:
# Conexão com os bancos de dados bronze
db_path_base01 = "../database/bronze/00_base1.db"
db_path_base02 = "../database/bronze/00_base2.db"

engine_base01 = create_engine(f"sqlite:///{db_path_base01}")
engine_base02 = create_engine(f"sqlite:///{db_path_base02}")

### Verificação das tabelas na base1 (bronze)

In [ ]:
# Listando todas as tabelas na base1
inspector = inspect(engine_base01)
tables_base01 = inspector.get_table_names()
print("Tabelas na base1:")
for table in tables_base01:
    print(f"- {table}")

In [19]:
# Verificando a estrutura de cada tabela na base1
for table in tables_base01:
    print(f"\nEstrutura da tabela {table}:")
    columns = inspector.get_columns(table)
    for column in columns:
        print(f"- {column['name']}: {column['type']}")

In [14]:
# Verificando amostra de dados de cada tabela na base1
for table in tables_base01:
    print(f"\nAmostra de dados da tabela {table}:")
    try:
        query = f"SELECT * FROM '{table}' LIMIT 20"
        df = pd.read_sql(query, engine_base01)
        print(df)
    except Exception as e:
        print(f"Erro ao acessar tabela {table}: {str(e)}")

Amostra de dados da tabela 00_despesas_alucar:
                                   DESPESAS      Mês        Valor  \
0                       Lucas Pereira Costa  janeiro  R$ 7.325,00
1                    Mariana Oliveira Souza  janeiro  R$ 1.892,41
2                        João Henrique Lima  janeiro  R$ 2.600,22
3                          Ana Paula Santos  janeiro  R$ 1.756,23
4                     Aluguel de escritório  janeiro  R$ 1.800,00
5                      Rafael Martins Silva  janeiro  R$ 1.421,67
6                Contas de energia elétrica  janeiro  R$ 2.089,34
7                   Contas de água e esgoto  janeiro    R$ 225,25
8                          Impostos e taxas  janeiro  R$ 1.956,11
9                Despesas com matéria-prima  janeiro    R$ 628,75
10       Despesas de transporte e logística  janeiro  R$ 1.843,28
11               Manutenção de equipamentos  janeiro    R$ 270,98
12     Despesas com marketing e publicidade  janeiro  R$ 1.532,56
13  Despesas com consultorias e assessorias  janeiro  R$ 2.017,89
14    Seguros (patrimonial, de saúde, etc.)  janeiro    R$ 349,21
15                  Inteligência Artificial  janeiro  R$ 1.789,43
16                                      CRM  janeiro    R$ 623,19
17        Despesas com softwares e licenças  janeiro  R$ 1.921,67
18                                Mecanicos  janeiro    R$ 417,82
19                              Treinamento  janeiro  R$ 2.056,34

              timestamp
0   2025-05-28 19:11:31
1   2025-05-28 19:11:31
2   2025-05-28 19:11:31
3   2025-05-28 19:11:31
4   2025-05-28 19:11:31
5   2025-05-28 19:11:31
6   2025-05-28 19:11:31
7   2025-05-28 19:11:31
8   2025-05-28 19:11:31
9   2025-05-28 19:11:31
10  2025-05-28 19:11:31
11  2025-05-28 19:11:31
12  2025-05-28 19:11:31
13  2025-05-28 19:11:31
14  2025-05-28 19:11:31
15  2025-05-28 19:11:31
16  2025-05-28 19:11:31
17  2025-05-28 19:11:31
18  2025-05-28 19:11:31
19  2025-05-28 19:11:31

Amostra de dados da tabela 00_despesas_consigcar:
                            DESPESAS        Mês        Valor  \
0   Gustavo Augusto da Silva Pereira    janeiro  R$ 3.482,76
1        Fernanda Costa Almeida Lima    janeiro  R$ 6.215,43
2    Marcelo Henrique Oliveira Souza    janeiro  R$ 4.823,36
3     Leticia Beatriz Santos Ribeiro    janeiro  R$ 4.890,22
4          Rafael Augusto Souza Lima    janeiro  R$ 2.658,90
5       Rodrigo Oliveira Costa Silva    janeiro  R$ 9.732,25
6        Thiago Eduardo Pereira Lima    janeiro  R$ 1.847,35
7                            Trafego    janeiro  R$ 3.482,76
8                         Google Ads    janeiro  R$ 6.215,43
9                           Meta Ads    janeiro  R$ 1.973,50
10                      LinkedIn Ads    janeiro  R$ 4.890,22
11                               CRM    janeiro  R$ 2.658,90
12                       Landin page    janeiro  R$ 5.340,10
13  Gustavo Augusto da Silva Pereira  fevereiro  R$ 3.482,76
14       Fernanda Costa Almeida Lima  fevereiro  R$ 7.523,66
15   Marcelo Henrique Oliveira Souza  fevereiro  R$ 1.973,50
16    Leticia Beatriz Santos Ribeiro  fevereiro  R$ 4.890,22
17         Rafael Augusto Souza Lima  fevereiro  R$ 2.658,90
18      Rodrigo Oliveira Costa Silva  fevereiro  R$ 5.340,10
19       Thiago Eduardo Pereira Lima  fevereiro  R$ 1.847,35

              timestamp
0   2025-05-28 19:11:31
1   2025-05-28 19:11:31
2   2025-05-28 19:11:31
3   2025-05-28 19:11:31
4   2025-05-28 19:11:31
5   2025-05-28 19:11:31
6   2025-05-28 19:11:31
7   2025-05-28 19:11:31
8   2025-05-28 19:11:31
9   2025-05-28 19:11:31
10  2025-05-28 19:11:31
11  2025-05-28 19:11:31
12  2025-05-28 19:11:31
13  2025-05-28 19:11:31
14  2025-05-28 19:11:31
15  2025-05-28 19:11:31
16  2025-05-28 19:11:31
17  2025-05-28 19:11:31
18  2025-05-28 19:11:31
19  2025-05-28 19:11:31

Amostra de dados da tabela 00_metas_plr:
     Ano  Mês  Meta_1_ALUCAR  Meta_2_ALUCAR  Meta_1_ConsigCar  \
0   2025    1             22             30                32
1   2025    2             44             60                57
2   2025    3             66             90                86
3   2025    4             88            120               122
4   2025    5            110            150               172
5   2025    6            132            180               222
6   2025    7            154            210               272
7   2025    8            176            240               322
8   2025    9            198            270               372
9   2025   10            220            300               422
10  2025   11            242            330               472
11  2025   12            264            360               522

    Meta_2_ConsigCar                        Data            timestamp
0                 42  2025-01-01 00:00:00.000000  2025-05-28 19:11:31
1                 67  2025-02-01 00:00:00.000000  2025-05-28 19:11:31
2                 96  2025-03-01 00:00:00.000000  2025-05-28 19:11:31
3                129  2025-04-01 00:00:00.000000  2025-05-28 19:11:31
4                199  2025-05-01 00:00:00.000000  2025-05-28 19:11:31
5                269  2025-06-01 00:00:00.000000  2025-05-28 19:11:31
6                339  2025-07-01 00:00:00.000000  2025-05-28 19:11:31
7                409  2025-08-01 00:00:00.000000  2025-05-28 19:11:31
8                479  2025-09-01 00:00:00.000000  2025-05-28 19:11:31
9                549  2025-10-01 00:00:00.000000  2025-05-28 19:11:31
10               619  2025-11-01 00:00:00.000000  2025-05-28 19:11:31
11               689  2025-12-01 00:00:00.000000  2025-05-28 19:11:31

Amostra de dados da tabela 00_receita_consigcar_estimativa:
          Data       Valor            timestamp
0   2025-01-01   35.918,27  2025-05-28 19:11:31
1   2025-01-02   51.472,94  2025-05-28 19:11:31
2   2025-01-03   34.994,22  2025-05-28 19:11:31
3   2025-01-04   48.182,77  2025-05-28 19:11:31
4   2025-01-05   41.348,00  2025-05-28 19:11:31
5   2025-01-06   50.000,00  2025-05-28 19:11:31
6   2025-01-07   59.000,00  2025-05-28 19:11:31
7   2025-01-08   68.000,00  2025-05-28 19:11:31
8   2025-01-09   77.000,00  2025-05-28 19:11:31
9   2025-01-10   86.000,00  2025-05-28 19:11:31
10  2025-01-11   95.000,00  2025-05-28 19:11:31
11  2025-01-12  104.000,00  2025-05-28 19:11:31
12  2026-01-01   32.000,00  2025-05-28 19:11:31

Amostra de dados da tabela 00_receita_pagseguro_consigcar:
         Data      Valor            timestamp
0  2025-01-01  35.918,27  2025-05-28 19:11:31
1  2025-02-01  51.472,94  2025-05-28 19:11:31
2  2025-03-01  34.994,22  2025-05-28 19:11:31
3  2025-04-01  48.182,77  2025-05-28 19:11:31
4  2025-05-01  41.348,00  2025-05-28 19:11:31

Amostra de dados da tabela 00_vendas_clientes_alucar:
                       Nome_(Alucar)        Data  Mes   Ano Valor_Receita  \
0          João Carlos Silva Pereira  2025-01-02    1  2025   R$ 1.432,00
1      Maria Fernanda Souza Oliveira  2025-01-03    1  2025   R$ 4.189,00
2        Marcos Vinícius Silva Costa  2025-01-06    1  2025     R$ 118,00
3           Ana Beatriz Almeida Lima  2025-01-07    1  2025   R$ 2.756,00
4           Luiz Felipe Rocha Santos  2025-01-09    1  2025   R$ 4.631,00
5      Camila Oliveira Pereira Ramos  2025-01-10    1  2025     R$ 982,00
6       Felipe Augusto da Costa Lima  2025-01-13    1  2025   R$ 1.911,00
7   Renata dos Santos Oliveira Rocha  2025-01-14    1  2025   R$ 3.678,00
8         Rafael Alves de Souza Lima  2025-01-16    1  2025   R$ 2.198,00
9         Laura Beatriz Lima Pereira  2025-01-20    1  2025     R$ 149,00
10     Carlos Eduardo da Silva Souza  2025-01-21    1  2025   R$ 4.211,00
11       Juliana Maria Costa Almeida  2025-01-25    1  2025   R$ 2.891,00
12         José Augusto Ribeiro Lima  2025-01-27    1  2025   R$ 1.734,00
13     Gabriela Alves da Silva Costa  2025-01-27    1  2025   R$ 3.982,00
14     Francisco José Oliveira Costa  2025-01-27    1  2025     R$ 654,00
15          Andreia Costa Rocha Lima  2025-01-31    1  2025   R$ 2.357,00
16         Leonardo Pereira da Silva  2025-01-31    1  2025   R$ 4.819,00
17      Beatriz Almeida Costa Santos  2025-01-31    1  2025   R$ 1.278,00
18      Eduardo Gonçalves Rocha Lima  2025-01-31    1  2025   R$ 3.491,00
19        Vanessa Costa Lima Almeida  2025-01-31    1  2025   R$ 1.987,00

              timestamp
0   2025-05-28 19:11:31
1   2025-05-28 19:11:31
2   2025-05-28 19:11:31
3   2025-05-28 19:11:31
4   2025-05-28 19:11:31
5   2025-05-28 19:11:31
6   2025-05-28 19:11:31
7   2025-05-28 19:11:31
8   2025-05-28 19:11:31
9   2025-05-28 19:11:31
10  2025-05-28 19:11:31
11  2025-05-28 19:11:31
12  2025-05-28 19:11:31
13  2025-05-28 19:11:31
14  2025-05-28 19:11:31
15  2025-05-28 19:11:31
16  2025-05-28 19:11:31
17  2025-05-28 19:11:31
18  2025-05-28 19:11:31
19  2025-05-28 19:11:31

Amostra de dados da tabela 00_vendas_clientes_alucar_estimativa:
                       Nome_(Alucar)        Data  Mes   Ano Valor_Receita  \
0          João Carlos Silva Pereira  2025-01-02    1  2025   R$ 1.432,00
1      Maria Fernanda Souza Oliveira  2025-01-03    1  2025   R$ 4.189,00
2        Marcos Vinícius Silva Costa  2025-01-06    1  2025     R$ 118,00
3           Ana Beatriz Almeida Lima  2025-01-07    1  2025   R$ 2.756,00
4           Luiz Felipe Rocha Santos  2025-01-09    1  2025   R$ 4.631,00
5      Camila Oliveira Pereira Ramos  2025-01-10    1  2025     R$ 982,00
6       Felipe Augusto da Costa Lima  2025-01-13    1  2025   R$ 1.911,00
7   Renata dos Santos Oliveira Rocha  2025-01-14    1  2025   R$ 3.678,00
8         Rafael Alves de Souza Lima  2025-01-16    1  2025   R$ 2.198,00
9         Laura Beatriz Lima Pereira  2025-01-20    1  2025     R$ 149,00
10     Carlos Eduardo da Silva Souza  2025-01-21    1  2025   R$ 4.211,00
11       Juliana Maria Costa Almeida  2025-01-25    1  2025   R$ 2.891,00
12         José Augusto Ribeiro Lima  2025-01-27    1  2025   R$ 1.734,00
13     Gabriela Alves da Silva Costa  2025-01-27    1  2025   R$ 3.982,00
14     Francisco José Oliveira Costa  2025-01-27    1  2025     R$ 654,00
15          Andreia Costa Rocha Lima  2025-01-31    1  2025   R$ 2.357,00
16         Leonardo Pereira da Silva  2025-01-31    1  2025   R$ 4.819,00
17      Beatriz Almeida Costa Santos  2025-01-31    1  2025   R$ 1.278,00
18      Eduardo Gonçalves Rocha Lima  2025-01-31    1  2025   R$ 3.491,00
19        Vanessa Costa Lima Almeida  2025-01-31    1  2025   R$ 1.987,00

              timestamp
0   2025-05-28 19:11:31
1   2025-05-28 19:11:31
2   2025-05-28 19:11:31
3   2025-05-28 19:11:31
4   2025-05-28 19:11:31
5   2025-05-28 19:11:31
6   2025-05-28 19:11:31
7   2025-05-28 19:11:31
8   2025-05-28 19:11:31
9   2025-05-28 19:11:31
10  2025-05-28 19:11:31
11  2025-05-28 19:11:31
12  2025-05-28 19:11:31
13  2025-05-28 19:11:31
14  2025-05-28 19:11:31
15  2025-05-28 19:11:31
16  2025-05-28 19:11:31
17  2025-05-28 19:11:31
18  2025-05-28 19:11:31
19  2025-05-28 19:11:31

In [13]:
# Verificando tipos SQL das colunas da tabela 00_vendas_clientes_alucar_estimativa
print("\nTipos SQL das colunas da tabela 00_vendas_clientes_alucar_estimativa:")
query = "SELECT * FROM [00_vendas_clientes_alucar_estimativa] "
df = pd.read_sql(query, engine_base01)
for column in df.columns:
    column_info = inspector.get_columns('00_vendas_clientes_alucar_estimativa')
    for col in column_info:
        if col['name'] == column:
            print(f"- {column}: {col['type']}")

# Verificando amostra de dados da tabela
print("\nAmostra de dados da tabela 00_vendas_clientes_alucar_estimativa:")
query = "SELECT * FROM [00_vendas_clientes_alucar_estimativa]"
df = pd.read_sql(query, engine_base01)
display(df)

Tipos SQL das colunas da tabela 00_vendas_clientes_alucar_estimativa:
- Nome_(Alucar): TEXT
- Data: DATE
- Mes: BIGINT
- Ano: BIGINT
- Valor_Receita: TEXT
- timestamp: TEXT

Amostra de dados da tabela 00_vendas_clientes_alucar_estimativa:

,Nome_(Alucar),Data,Mes,Ano,Valor_Receita,timestamp
0,João Carlos Silva Pereira,2025-01-02,1,2025,"R$ 1.432,00",2025-05-28 19:11:31
1,Maria Fernanda Souza Oliveira,2025-01-03,1,2025,"R$ 4.189,00",2025-05-28 19:11:31
2,Marcos Vinícius Silva Costa,2025-01-06,1,2025,"R$ 118,00",2025-05-28 19:11:31
3,Ana Beatriz Almeida Lima,2025-01-07,1,2025,"R$ 2.756,00",2025-05-28 19:11:31
4,Luiz Felipe Rocha Santos,2025-01-09,1,2025,"R$ 4.631,00",2025-05-28 19:11:31
...,...,...,...,...,...,...
83,Estimativa,2025-08-01,8,2025,"R$ 36.000,00",2025-05-28 19:11:31
84,Estimativa,2025-09-01,9,2025,"R$ 36.000,00",2025-05-28 19:11:31
85,Estimativa,2025-10-01,10,2025,"R$ 36.000,00",2025-05-28 19:11:31
86,Estimativa,2025-11-01,11,2025,"R$ 36.000,00",2025-05-28 19:11:31
87,Estimativa,2025-12-01,12,2025,"R$ 36.000,00",2025-05-28 19:11:31

In [ ]:
# Verificando tipos SQL das colunas da tabela 00_vendas_clientes_alucar
print("\nTipos SQL das colunas da tabela 00_vendas_clientes_alucar:")
query = "SELECT * FROM [00_vendas_clientes_alucar] LIMIT 1"
df = pd.read_sql(query, engine_base01)
for column in df.columns:
    column_info = inspector.get_columns('00_vendas_clientes_alucar')
    for col in column_info:
        if col['name'] == column:
            print(f"- {column}: {col['type']}")

### Verificação das tabelas na base2 (bronze)

In [ ]:
# Listando todas as tabelas na base2
inspector = inspect(engine_base02)
tables_base02 = inspector.get_table_names()
print("Tabelas na base2:")
for table in tables_base02:
    print(f"- {table}")

In [ ]:
# Verificando a estrutura de cada tabela na base2
for table in tables_base02:
    print(f"\nEstrutura da tabela {table}:")
    columns = inspector.get_columns(table)
    for column in columns:
        print(f"- {column['name']}: {column['type']}")

In [ ]:
# Verificando amostra de dados de cada tabela na base2
for table in tables_base02:
    print(f"\nAmostra de dados da tabela {table}:")
    query = f"SELECT * FROM '{table}' LIMIT 5"
    df = pd.read_sql(query, engine_base02)
    display(df)


print("\nTipos de dados das colunas:")
query = "SELECT * FROM [00_vendas_clientes_consigcar] LIMIT 1"
df = pd.read_sql(query, engine_base02)
for column in df.columns:
    print(f"- {column}: {df[column].dtype}")

In [ ]:
# Verificando amostra de dados da tabela 00_receita_consigcar_estimativa
print("\nAmostra de dados da tabela 00_receita_consigcar_estimativa:")
query = "SELECT * FROM [00_receita_consigcar_estimativa] LIMIT 15"
df = pd.read_sql(query, engine_base01)
display(df)

### Análise de dados específicos

In [ ]:
# Contagem de registros em cada tabela da base2
print("Contagem de registros na base2:")
for table in tables_base02:
    query = f"SELECT COUNT(*) as total FROM {table}"
    count = pd.read_sql(query, engine_base02).iloc[0,0]
    print(f"- {table}: {count} registros")