In [1]:
# Bibliotecas
import pandas as pd
from sqlalchemy import create_engine, inspect, text, DDL

In [2]:
# Conexão com o banco de dados
db_path_silver = "../database/silver/01_silver.db"
engine = create_engine(f"sqlite:///{db_path_silver}")

In [ ]:
# 1) Verificação dim_cliente
query_s1 = """
SELECT * FROM dim_cliente 
LIMIT 10;
"""
df_s1 = pd.read_sql(query_s1, engine)
print("dim_cliente:")
print(df_s1)

# 1.2) Verificação dos tipos de dados dim_cliente
print("\nTipos de dados dim_cliente:")
for col in df_s1.columns:
    print(f"{col}: {df_s1[col].dtype}")

In [ ]:
# 2) Verificação fato_faturamento_pagseguro
query_s2 = """
SELECT * FROM fato_faturamento_pagseguro
LIMIT 12;
"""
df_s2 = pd.read_sql(query_s2, engine)
print("\nfato_faturamento_pagseguro:")
print(df_s2)

# 2.1) Verificação dos tipos de dados fato_faturamento_pagseguro
print("\nTipos de dados fato_faturamento_pagseguro:")
for col in df_s2.columns:
    print(f"{col}: {df_s2[col].dtype}")

In [ ]:
# 3) Verificação dim_tempo
query_s3 = """
SELECT * FROM dim_tempo
LIMIT 10;
"""
df_s3 = pd.read_sql(query_s3, engine)
print("\ndim_tempo:")
print(df_s3)

In [ ]:
# 3.2) Verificação linhas do trimestre 2
query_s3_2 = """
SELECT * FROM dim_tempo 
WHERE trimestre = 2
LIMIT 10;
"""
df_s3_2 = pd.read_sql(query_s3_2, engine)
print("\ndim_tempo (trimestre 2):")
print(df_s3_2)

In [ ]:
# 3.3) Verificação linhas do trimestre 3
query_s3_3 = """
SELECT * FROM dim_tempo 
WHERE trimestre = 3
LIMIT 10;
"""
df_s3_3 = pd.read_sql(query_s3_3, engine)
print("\ndim_tempo (trimestre 3):")
print(df_s3_3)

In [ ]:

# 3.4) Verificação linhas de agosto
query_s3_4 = """
SELECT * FROM dim_tempo 
WHERE nome_mes = 'agosto'
LIMIT 10;
"""
df_s3_4 = pd.read_sql(query_s3_4, engine)
print("\ndim_tempo (agosto):")
print(df_s3_4)

In [ ]:
# 4) Verificação dim_vendedor
query_s4 = """
SELECT * FROM dim_vendedor
LIMIT 10;
"""
df_s4 = pd.read_sql(query_s4, engine)
print("\ndim_vendedor:")
print(df_s4)

In [ ]:
# 5) Verificação fato_despesas
query_s5 = """
SELECT * FROM fato_despesas;
"""
df_s5 = pd.read_sql(query_s5, engine)
print("\nfato_despesas:")
print(df_s5)

In [ ]:
# 6) Verificação fato_vendas_alucar
query_s6 = """
SELECT * FROM fato_vendas_alucar
LIMIT 22;
"""
df_s6 = pd.read_sql(query_s6, engine)
print("\nfato_vendas_alucar:")
print(df_s6)

In [ ]:
# 7) Verificação fato_vendas_consigcar
query_s7 = """
SELECT * FROM fato_vendas_consigcar
LIMIT 10;
"""
df_s7 = pd.read_sql(query_s7, engine)
print("\nfato_vendas_consigcar:")
print(df_s7)

# Verificação formatos das colunas
# Formato mais elegante para verificar tipos de colunas
tables = {
    "dim_vendedor": df_s4,
    "fato_despesas": df_s5, 
    "fato_vendas_alucar": df_s6,
    "fato_vendas_consigcar": df_s7
}

print("\nFormatos das colunas:")
for name, df in tables.items():
    print(f"\n{name}:")
    print(df.dtypes)

In [ ]:
# 9) Verificação fato_vendas_diarias_vendedor
query_s9 = """
SELECT f.*, v.nome_vendedor, t.mes, t.nome_mes
FROM fato_vendas_diaria_vendedor f
JOIN dim_vendedor v ON f.id_vendedor = v.id_vendedor
JOIN dim_tempo t ON f.id_data = t.id_data
LIMIT 10;
"""
df_s9 = pd.read_sql(query_s9, engine)
print("\nfato_vendas_diaria_vendedor:")
print(df_s9)

In [ ]:
# 10) Verificação dim_pagamentos_programados
query_s10 = """
SELECT * FROM dim_pagamentos_programados
LIMIT 25;
"""
df_s10 = pd.read_sql(query_s10, engine)
print("\ndim_pagamentos_programados:")
print(df_s10.head(25))

In [ ]:
# 11) Verificação fato_vendas_clientes_alucar_estimativa
query_s11 = """
SELECT * FROM fato_vendas_clientes_alucar_estimativa
LIMIT 10;
"""
df_s11 = pd.read_sql(query_s11, engine)
print("\nfato_vendas_clientes_alucar_estimativa:")
print(df_s11)

# Verificação dos tipos de dados
print("\nTipos de dados:")
print(df_s11.dtypes)

In [16]:
# 12) Verificação fato_consigcar_estimativa
query_s12 = """
SELECT * FROM fato_consigcar_estimativa
LIMIT 10;
"""
df_s12 = pd.read_sql(query_s12, engine)
print("\nfato_consigcar_estimativa:")
print(df_s12)

# Verificação dos tipos de dados
print("\nTipos de dados:")
print(df_s12.dtypes)

fato_consigcar_estimativa:
    id_data  valor_receita_estimativa
0  20250101                  35918.27
1  20250102                  51472.94
2  20250103                  34994.22
3  20250104                  48182.77
4  20250105                  41348.00
5  20250106                  50000.00
6  20250107                  59000.00
7  20250108                  68000.00
8  20250109                  77000.00
9  20250110                  86000.00

Tipos de dados:
id_data                       int64
valor_receita_estimativa    float64
dtype: object