In [2]:
# Bibliotecas
import pandas as pd
from sqlalchemy import create_engine, inspect, text, DDL

In [3]:
# Conexão com o banco de dados
engine = create_engine(f"sqlite:///../database/gold/02_gold.db")

In [4]:
# Verificar conteúdo da tabela g_fato_financas_mensal_alucar
query = """
SELECT * FROM g_fato_financas_mensal_alucar 
WHERE id_data >= 20250101 AND id_data <= 20251231
"""
df = pd.read_sql(query, engine)

print("\nConteúdo da tabela g_fato_financas_mensal_alucar para 2025:")
print(df.head())
print("\nInformações da tabela:")
print(df.info())

Conteúdo da tabela g_fato_financas_mensal_alucar para 2025:
    id_data  receita_total  despesas_total     lucro  margem_lucro  \
0  20250101        54121.0        36066.55  18054.45      0.333594
1  20250201        65686.0        35596.30  30089.70      0.458084
2  20250301        39107.0        31551.95   7555.05      0.193189
3  20250401        44577.0        53779.79  -9202.79     -0.206447
4  20250501         2654.0        54216.54 -51562.54    -19.428237

   evolucao_lucro
0        0.000000
1        0.666609
2       -0.748916
3       -2.218098
4        4.602925

Informações da tabela:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_data         12 non-null     int64
 1   receita_total   12 non-null     float64
 2   despesas_total  12 non-null     float64
 3   lucro           12 non-null     float64
 4   margem_lucro    12 non-null     float64
 5   evolucao_lucro  12 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 708.0 bytes
None

In [5]:
# Verificar conteúdo da tabela g_fato_financas_mensal_consigcar
query = """
SELECT * FROM g_fato_financas_mensal_consigcar 
WHERE id_data >= 20250101 AND id_data <= 20251231
"""
df = pd.read_sql(query, engine)

print("\nConteúdo da tabela g_fato_financas_mensal_consigcar para 2025:")
print(df.head())
print("\nInformações da tabela:")
print(df.info())

Conteúdo da tabela g_fato_financas_mensal_consigcar para 2025:
    id_data  receita_total  despesas_total      lucro  margem_lucro  \
0  20250101      388342.38        58211.18  330131.20      0.850103
1  20250201      416146.56        52277.40  363869.16      0.874377
2  20250301      517415.22        55319.92  462095.30      0.893084
3  20250401      908303.40        51548.02  856755.38      0.943248
4  20250501       66207.84        53332.47   12875.37      0.194469

   evolucao_lucro
0        0.000000
1        0.102196
2        0.269949
3        0.854066
4       -0.984972

Informações da tabela:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_data         12 non-null     int64
 1   receita_total   12 non-null     float64
 2   despesas_total  12 non-null     float64
 3   lucro           12 non-null     float64
 4   margem_lucro    12 non-null     float64
 5   evolucao_lucro  12 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 708.0 bytes
None

In [10]:
# Verificar conteúdo da tabela g_plr_vendas_ultimos_10_dias com vendas não nulas
query = """
SELECT * FROM g_plr_vendas_ultimos_10_dias 
WHERE 1=1
"""
df = pd.read_sql(query, engine)

print("\nConteúdo da tabela g_plr_vendas_ultimos_10_dias (vendas não nulas):")
print(df)

Conteúdo da tabela g_plr_vendas_ultimos_10_dias (vendas não nulas):
    id_vendedor   id_data  total_vendas  valor_parcelas_total  ranking
0             0  20241001             3              69859.32        1
1             0  20241101             5              89353.74        2
2             0  20241201             1              14894.40        3
3             0  20250101             2              30199.08        3
4             0  20250201             1              32936.40        3
5             0  20250301            10             166212.90        2
6             0  20250401            10             206042.88        3
7             1  20241001             1              14875.92        2
8             1  20241101            21             273985.14        1
9             1  20241201             3              44292.60        2
10            1  20250101             5              69950.64        2
11            1  20250201             4              37531.20        2
12            1  20250301             9             192164.28        1
13            1  20250401             2              18645.24        6
14            2  20241101             6              85073.94        3
15            2  20241201            33             680093.28        1
16            2  20250101            25             288192.66        1
17            2  20250201            20             345678.96        1
18            2  20250301             2              47865.24        4
19            3  20250301             8             111172.80        3
20            3  20250401             3              51529.44        5
21            3  20250501             1              14707.68        2
22            4  20250401            14             255745.20        1
23            4  20250501             3              51500.16        1
24            5  20250401             7             213579.12        2
25            6  20250401             8             162761.52        4